extends layout

block content
  .login-page
  .form
    form.login-form(method='post')
      input(type='text', placeholder='email address', name='email')
      input(type='password', placeholder='password', name='password')
      button(type='submit') log in